p{
    text-align: justify;
    text-indent: 50px;
}
/*Adicionando uma imagem ao fundo do site e alterando a cor do background*/
body{
    background-image: url("Imagens/FundoDoSite.jpg");
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #606060;
}
a:hover{
    text-decoration: underline;
}
/*Alterando apenas a parte dentro da div que tem no body*/
div#interface{
    width: 1100px;
    margin: -20px auto 0px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}
/*Alterando a posição do oculos na tela*/
header#cabeçalho img#icone{
    position: absolute;
    left: 1030px;
    top: 65px;
}
header#cabeçalho{
    /*Adicionando uma borda para separar esse header do resto da página*/
    border-bottom: 1px #606060 solid;
    height: 150px;
    /*Adicionando uma logo e colocando ela mais para baix na tela */
    background: url(Imagens/glass-logo-peq.jpg) no-repeat 0px 100px;
}

header#cabeçalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    /*Modificando a cor e alterando a sombra do primeiro título de Google Glass*/
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    margin-bottom: 0px;
}
header#cabeçalho h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    font-size: 15pt;
    margin-top: 0px;
}
/*Formatando posição, bordas e sombras*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
/*Formatação do tamanho da imagem*/
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
/*Formatação de legenda de imagem*/
figure.foto-legenda figcaption{
    opacity: 0;
    position:absolute;
    top: 0px;
    background-color: rgb(0, 0, 0) rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    /*Cria um espaço*/
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    font-size: xx-large;
}
/*Formatando opacidade quando se passa o mouse por cima*/
figure.foto-legenda:hover figcaption{
    opacity: 0.9;
    background-color: #000;
}
/*Formatando o menu*/
nav#menu{
    display: block;
}
nav#menu ul{
    /*Remove os símbolos ou números da lista*/
    list-style: none;
    /*Menu em maiúsculo*/
    text-transform: uppercase;
    /*Para flutuar pela tela*/
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li{
    /*Coloca os itens horizontalmente*/
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    /*Controla o espaço entre as opções da lista*/
    margin: 2px;
    /*Demora um certo tempo para que a cor do background seja alterada*/
    transition: background-color 1s;
}
/*Quando você passa o mouse o background da opção se altera*/
nav#menu li:hover{
    background-color: #606060;
}
/*Não mostra mais o título de menu principal*/
nav#menu h1{
    display: none;
}
/*Alterando a cor quando você clica no item e retirando a sublinha depois que vc clicou a primeira vez*/
nav#menu a{
    color: #000;
    text-decoration: none;
}
/*Quando o mouse passar sobre um item do menu ele vai ficar sublinhado*/
nav#menu a:hover{
    color: #fff;
    text-decoration: underline;
}
/*Transformando a seção principal para ficar à esquerda da tela, como um bloco de 675px e com uma borda com um padding á direita para não encostar na borda*/
section#corpo{
    display: block;
    width: 650px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
}
/*Colocando o rodapé abaixo da página*/
footer#rodapé{
    border-top: 1px #606060 solid;
    clear: both;
}
/*Colocando o parágrafo do rodapé no centro da página*/
footer#rodapé p{
    text-align: center;
}
/*Alinhando o menu de links aos centro*/
#menur{
    text-align: center;
}
/*Alterando a cor dos caminhos dos links */
footer#rodapé a{
    text-decoration: none;
    color: #606060;
}
/*Configurando para eles ficarem sublinhados quando o mouse passar por eles*/
#fb:hover{ 
    text-decoration: underline;
}
#tw:hover{
    text-decoration: underline;
}
/*Configurando a seção lateral para ficar alinhada á direita e com posicionamento correto*/
aside#lateral{
    margin-right: 40px;
    display: block;
    float: right;
    width: 350px;
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
/*Formatando a a tabela com as bordas*/
#tabelaglass{
    border: 1px solid #606060;
    /*Diminuindo o espaço entre as bordas para quee elas não fiquem separadas*/
    border-spacing: 0px;
    /*Consertando as margens*/
    margin-left: auto;
    margin-right: auto;
}
#tabelaglass td{
    /*Colocando a borda entre as colunas*/
    border: 1px solid #606060;
    /*Espaçando as palavras das bordas*/
    padding: 10px;
    /*Alinhando os textos de td ao centro*/
    text-align: center;
}
/*Modificando apenas os headers h2 dentro do article*/
#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #ddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
#cabeçalho-artigo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
#cabeçalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #fff;

}
#cabeçalho-artigo h3{
    font-size: 10pt;
    color: #606060;
}
h3.right{
    text-align: right;
}
#lateral h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}
#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #fff;
    padding: 5px;
}
/*Quando formos modificar uma classe utilizamsos . ao invés de # */
#tabelaglass td.ce{
    background-color: #606060;
    color: #fff;
    /*Alinhamento vertical*/
    vertical-align: top;
    font-weight: bold;
}
#tabelaglass td.cd{
    background-color: #cecece;
}
#tabelaglass caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
}
/*Alterando a formatação apenas do mar/2013 na caption*/
#tabelaglass caption span{
    display: block;
    float: right;
    color: #000;
    font-size: 8pt;
    margin-top: 10px;
}
/*Ver mais sobre font-display*/
/*Formatação specs*/
section#conteudo {
	width: 1000px;
	margin: auto;
}

#frame-spec {
	width: 410px;
	height: 280px;
	border: none;
    /*Faz com que alguns conteúdos caibam na página caso sejam grandes demais*/
	overflow: none;
}

iframe#frame-spec::-webkit-scrollbar{
    display: none;
}
div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("Imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 573px;
	top: 500px;
	width: 300px;
}

video#filme {
	display: block;
	position: relative;
	left: 90px;
	top: 70px;
	width: 440px;

}
ul#album-fotos {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,.4);
    /*Timar a transição quando o vc coloca o mouse em cima da imagem*/
	transition: all .3s ease-in;

}

ul#album-fotos li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover {
    /*Aumenta o tamanho*/
	transform: scale(1.5);

}

ul#album-fotos li:hover span {
	opacity:1;
}

ul#album-fotos li#foto01 {
	background: url('Imagens/galeria-01.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#foto01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
	background: url('Imagens/galeria-02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#foto02:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
	background: url('Imagens/galeria-03.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#foto03:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
	background: url('Imagens/galeria-04.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#foto04:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
	background: url('Imagens/galeria-05.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#foto05:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
	background: url('Imagens/galeria-06.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#foto06:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}
form {
	width: 500px;
	margin: auto;
}

input, textarea{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover {
	background-color: #dddddd;
}

legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif; 
}

fieldset {
	border-color: #cecece;
	margin: 20px;
}

fieldset#sexo {
	width: 150px;
}

fieldset#usuario {
	background: url("Imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
	background: url("Imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
	background: url("Imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
	background: url("Imagens/icone-pagamento.png") no-repeat 95% 95%;
}
/*Evitar formatar várias páginas em um único arquivo css*/