p{
    text-align: justify;
    text-indent: 50px;
}
/*Adicionando uma imagem ao fundo do site e alterando a cor do background*/
body{
    background-image: url("Imagens/FundoDoSite.jpg");
    background-color: whitesmoke;
}
/*Alterando apenas a parte dentro da div que tem no body*/
div#interface{
    width: 1100px;
    margin: -20px auto 0px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}
/*Alterando a posição do oculos na tela*/
header#cabeçalho img#icone{
    position: absolute;
    left: 1030px;
    top: 65px;
}
header#cabeçalho{
    /*Adicionando uma borda para separar esse header do resto da página*/
    border-bottom: 1px #606060 solid;
    height: 150px;
    /*Adicionando uma logo e colocando ela mais para baix na tela */
    background: url(Imagens/glass-logo-peq.jpg) no-repeat 0px 100px;
}

header#cabeçalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    /*Modificando a cor e alterando a sombra do primeiro título de Google Glass*/
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    margin-bottom: 0px;
}
header#cabeçalho h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    font-size: 15pt;
    margin-top: 0px;
}
/*Formatando posição, bordas e sombras*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
/*Formatação do tamanho da imagem*/
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
/*Formatação de legenda de imagem*/
figure.foto-legenda figcaption{
    opacity: 0;
    position:absolute;
    top: 0px;
    background-color: rgb(0, 0, 0) rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    /*Cria um espaço*/
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    font-size: xx-large;
}
/*Formatando opacidade quando se passa o mouse por cima*/
figure.foto-legenda:hover figcaption{
    opacity: 0.9;
    background-color: #000;
}
/*Formatando o menu*/
nav#menu{
    display: block;
}
nav#menu ul{
    /*Remove os símbolos ou números da lista*/
    list-style: none;
    /*Menu em maiúsculo*/
    text-transform: uppercase;
    /*Para flutuar pela tela*/
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li{
    /*Coloca os itens horizontalmente*/
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    /*Controla o espaço entre as opções da lista*/
    margin: 2px;
    transition: background-color 1s;
}
/*Quando você passa o mouse o background da opção se altera*/
nav#menu li:hover{
    background-color: #606060;
}
/*Não mostra mais o título de menu principal*/
nav#menu h1{
    display: none;
}
/*Alterando a cor quando você clica no item e retirando a sublinha depois que vc clicou a primeira vez*/
nav#menu a{
    color: #000;
    text-decoration: none;
}
/*Quando o mouse passar sobre um item do menu ele vai ficar sublinhado*/
nav#menu a:hover{
    color: #fff;
    text-decoration: underline;
}
/*Transformando a seção principal para ficar à esquerda da tela, como um bloco de 675px e com uma borda com um padding á direita para não encostar na borda*/
section#corpo{
    display: block;
    width: 675px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
}
/*Colocando o rodapé abaixo da página*/
footer#rodapé{
    border-top: 1px #606060 solid;
    clear: both;
}
/*Colocando o parágrafo do rodapé no centro da página*/
footer#rodapé p{
    text-align: center;
}
/*Alinhando o menu de links aos centro*/
#menur{
    text-align: center;
}
/*Alterando a cor dos caminhos dos links */
footer#rodapé a{
    text-decoration: none;
    color: #606060;
}
/*COnfigurando para eles ficarem sublinhados quando o mouse passar por eles*/
#fb:hover{ 
    text-decoration: underline;
}
#tw:hover{
    text-decoration: underline;
}
/*Configurando a seção lateral para ficar alinhada á direita e com posicionamento correto*/
aside#lateral{
    margin-right: 40px;
    display: block;
    float: right;
    width: 350px;
}

